In [1]:
from sklearn.preprocessing import RobustScaler, StandardScaler
from statsmodels.robust.scale import huber
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import plotly.express as px
import re
import locale
import geopandas
plt.style.use('seaborn')
%matplotlib inline

pd.set_option('display.max_rows', 0)
pd.set_option('display.max_columns', 0)


# df_indicadores_pob = pd.read_parquet(f'../data/processed/df_indicadores_pob.parquet')
# df_final_pob = pd.read_parquet('../data/processed/df_final_pob.parquet')
# df_final_pob_melt = pd.read_parquet('../data/processed/df_final_pob_melt.parquet')
# df_final_pob_melt_PC = pd.read_parquet('../data/processed/df_final_pob_melt_PC.parquet')
# CCAA_CO = pd.read_parquet('../data/processed/CCAA_CO.parquet')
# MUNI_CO = pd.read_parquet('../data/processed/MUNI_CO.parquet')
# PROV_CO = pd.read_parquet('../data/processed/PROV_CO.parquet')

In [2]:
df_final_pob=pd.read_parquet('../data/main_processed/df_final_pob.parquet')

df_indicadores_pob=pd.read_parquet('../data/main_processed/df_indicadores_pob.parquet')

df_indicadores_pob_pivot=pd.read_parquet('../data/main_processed/df_indicadores_pob_pivot.parquet')

df_final_pob_melt=pd.read_parquet('../data/main_processed/df_final_pob_melt.parquet')

df_final_pob_melt_PC=pd.read_parquet('../data/main_processed/df_final_pob_melt_PC.parquet')

CCAA_CO = pd.read_parquet('../data/main_processed/CCAA_CO.parquet')
MUNI_CO = pd.read_parquet('../data/main_processed/MUNI_CO.parquet')
PROV_CO = pd.read_parquet('../data/main_processed/PROV_CO.parquet')

df_final_pob_dropdown=pd.read_parquet('../data/main_processed/df_final_pob_dropdown.parquet')

df_final_pob_dropdown_c=pd.read_parquet('../data/main_processed/df_final_pob_dropdown_c.parquet')

df_final_pob_poblaciontext=pd.read_parquet('../data/main_processed/df_final_pob_poblaciontext.parquet')

In [8]:
CCAA_types='Andalucía'

In [9]:
df_count_c=df_final_pob.pivot_table(index=['CCAA'] ,values=['TOTAL','Población 2018'] ,aggfunc=sum).reset_index()
df_count_c['PC_TOTAL'] = df_count_c.apply(lambda new: round(new['TOTAL']/new['Población 2018'],), axis=1)
df_count_c=df_count_c.sort_values(by='PC_TOTAL',ascending=False)
df_count_c['CCAA'] = df_count_c['CCAA'].astype('object')


df_count_c_new_n=df_count_c.loc[(df_count_c['PC_TOTAL']==df_count_c['PC_TOTAL'].quantile(0.75, interpolation='nearest'))|\
                (df_count_c['PC_TOTAL']==df_count_c['PC_TOTAL'].quantile(0.50, interpolation='nearest'))|\
                 (df_count_c['PC_TOTAL']==df_count_c['PC_TOTAL'].quantile(0.25, interpolation='nearest'))]


df = df_count_c_new_n
df = df.append(df_count_c.loc[df_count_c['CCAA']==CCAA_types])

In [10]:
df

                      CCAA  Población 2018         TOTAL  PC_TOTAL
6                 Cataluña       7271555.0  5.646433e+09       777
13  Principado de Asturias        987025.0  6.729865e+08       682
4          Castilla y León       1947252.0  1.190997e+09       612
0                Andalucía       7677889.0  5.554223e+09       723

In [22]:
df_count_p=df_final_pob.pivot_table(index=['Provincia'] ,values=['TOTAL','Población 2018'] ,aggfunc=sum).reset_index()
df_count_p['PC_TOTAL'] = df_count_p.apply(lambda new: round(new['TOTAL']/new['Población 2018'],), axis=1)
df_count_p['Provincia'] = df_count_p['Provincia'].astype('object')

df_count_p_new_n=df_count_p.loc[(df_count_p['PC_TOTAL']==df_count_p['PC_TOTAL'].quantile(0.75, interpolation='nearest'))|\
                (df_count_p['PC_TOTAL']==df_count_p['PC_TOTAL'].quantile(0.51, interpolation='nearest'))|\
                 (df_count_p['PC_TOTAL']==df_count_p['PC_TOTAL'].quantile(0.25, interpolation='nearest'))]

In [23]:
df_count_p_new_n

   Provincia  Población 2018         TOTAL  PC_TOTAL
22      Jaén        549573.0  3.239394e+08       589
24    Lleida        377734.0  2.820167e+08       747
36   Segovia        118354.0  7.733025e+07       653

In [24]:
cohorte='más de 500.000'
municipio_types = 'Madrid'

In [44]:
cohorte = df_final_pob.loc[df_final_pob['Nombre Ente Principal'] == municipio_types , 'cohorte_pob'].unique().to_list()[0]

df = df_final_pob[['Nombre Ente Principal' , 'cohorte_pob' , 'PC_TOTAL']].loc[
    (df_final_pob['cohorte_pob'] == cohorte) & (df_final_pob['PC_TOTAL'] > 0)].sort_values(by='PC_TOTAL' ,
                                                                                           ascending=False)
df['Nombre Ente Principal'] = df['Nombre Ente Principal'].astype('object')
# df['PC_TOTAL'] = df.apply(lambda new: round(new['PC_TOTAL'] , ) , axis=1)
df2=df.loc[(df['PC_TOTAL']==df['PC_TOTAL'].quantile(0.75, interpolation='nearest'))|\
                (df['PC_TOTAL']==df['PC_TOTAL'].quantile(0.50, interpolation='nearest'))|\
                 (df['PC_TOTAL']==df['PC_TOTAL'].quantile(0.25, interpolation='nearest'))]




df2 = df2.append(df.loc[df['Nombre Ente Principal']==municipio_types])
df=df2
df.iloc[3 , 0] = f'{municipio_types}.'

In [45]:
df

     Nombre Ente Principal     cohorte_pob     PC_TOTAL
645                Sevilla  más de 500.000   994.624372
2825             Barcelona  más de 500.000   872.550323
1115              Zaragoza  más de 500.000   863.149121
4186               Madrid.  más de 500.000  1118.909850

In [47]:
partida_de_coste_types='Abastecimiento de agua potable'

In [50]:
pob_c=df_final_pob.pivot_table(index=['CCAA'] ,values=['Población 2018'] ,aggfunc=sum).reset_index()
df_count_c_pc=df_final_pob_melt.pivot_table(index=['CCAA','Descripción'] ,values=['coste_efectivo'] ,aggfunc=sum).reset_index()
df_count_c_pc = pd.merge(df_count_c_pc, pob_c, on='CCAA', how='left')
df_count_c_pc['PC_TOTAL'] = df_count_c_pc.apply(lambda new: new['coste_efectivo']/new['Población 2018'], axis=1)
df_count_c_pc['CCAA'] = df_count_c_pc['CCAA'].astype('object')


df = df_count_c_pc

df = df.loc[df['Descripción'] == partida_de_coste_types].sort_values(by='PC_TOTAL' ,ascending=False)


df =df.loc[(df['PC_TOTAL']==df['PC_TOTAL'].quantile(0.90, interpolation='nearest'))|\
                (df['PC_TOTAL']==df['PC_TOTAL'].quantile(0.75, interpolation='nearest'))|\
                 (df['PC_TOTAL']==df['PC_TOTAL'].quantile(0.25, interpolation='nearest'))|\
                 (df['PC_TOTAL']==df['PC_TOTAL'].quantile(0.50, interpolation='nearest'))]
df['PC_TOTAL'] = df.apply(lambda new: round(new['PC_TOTAL'],), axis=1)




df

                       CCAA  ... PC_TOTAL
86                 Canarias  ...       79
430                 Galicia  ...       49
43                   Aragón  ...       43
559  Principado de Asturias  ...       41

[4 rows x 5 columns]

In [52]:
PROV_types='Murcia'

In [56]:
pob_p=df_final_pob.pivot_table(index=['Provincia'] ,values=['Población 2018'] ,aggfunc=sum).reset_index()
df_count_p_pc=df_final_pob_melt.pivot_table(index=['Provincia','Descripción'] ,values=['coste_efectivo'] ,aggfunc=sum).reset_index()
df_count_p_pc = pd.merge(df_count_p_pc, pob_p, on='Provincia', how='left')
df_count_p_pc['PC_TOTAL'] = df_count_p_pc.apply(lambda new: new['coste_efectivo']/new['Población 2018'], axis=1)
df_count_p_pc['Provincia'] = df_count_p_pc['Provincia'].astype('object')

df = df_count_p_pc

df = df.loc[df['Descripción'] == partida_de_coste_types].sort_values(by='PC_TOTAL' , ascending=False)

df2 = df.loc[(df['PC_TOTAL'] == df['PC_TOTAL'].quantile(0.75 , interpolation='nearest')) | \
             (df['PC_TOTAL'] == df['PC_TOTAL'].quantile(0.50 , interpolation='nearest')) | \
             (df['PC_TOTAL'] == df['PC_TOTAL'].quantile(0.25 , interpolation='nearest'))]
df2 = df2.sort_values(by='PC_TOTAL' , ascending=False)

df2 = df2.append(df.loc[df['Provincia'] == PROV_types])
# df2['PC_TOTAL'] = df2.apply(lambda new: round(new['PC_TOTAL'] , ) , axis=1)
df2.iloc[3 , 0] = f'{PROV_types}.'



df2

        Provincia                     Descripción  ...  Población 2018    PC_TOTAL
428   Ciudad Real  Abastecimiento de agua potable  ...        422487.0   51.278081
129      Asturias  Abastecimiento de agua potable  ...        987025.0   40.776494
1582      Sevilla  Abastecimiento de agua potable  ...       1775103.0   35.681994
1156      Murcia.  Abastecimiento de agua potable  ...       1423404.0  106.639748

[4 rows x 5 columns]

In [89]:
cohorte='0-1000' 
municipio_types = 'Abadía'
partida_de_coste_types='Acceso a los núcleos de población'

In [84]:
cohorte = df_final_pob_melt_PC.loc[df_final_pob_melt_PC['Nombre Ente Principal'] == municipio_types , 'cohorte_pob'].unique().to_list()[0]

df = df_final_pob_melt_PC[['Nombre Ente Principal' , 'cohorte_pob' , 'Descripción' , 'coste_efectivo_PC']].loc[
    (df_final_pob_melt_PC['cohorte_pob'] == cohorte)  & ( df_final_pob_melt_PC['Descripción'] == partida_de_coste_types)].sort_values(by='coste_efectivo_PC' , ascending=False)
df['Nombre Ente Principal'] = df['Nombre Ente Principal'].astype('object')

df2 = df.loc[(df['coste_efectivo_PC'] == df['coste_efectivo_PC'].quantile(0.75 , interpolation='nearest')) | \
             (df['coste_efectivo_PC'] == df['coste_efectivo_PC'].quantile(0.50 , interpolation='nearest')) | \
             (df['coste_efectivo_PC'] == df['coste_efectivo_PC'].quantile(0.25 , interpolation='nearest'))]

df2 = df2.sort_values(by='coste_efectivo_PC' , ascending=False)
df2.drop_duplicates(subset='coste_efectivo_PC' , keep='last',inplace=True)

df = df2.append(df.loc[df['Nombre Ente Principal'] == municipio_types])

df.iloc[3 , 0] = f'{municipio_types}.'
df['coste_efectivo_PC'] = df.apply(lambda new: round(new['coste_efectivo_PC'] , ) , axis=1)

In [85]:
df

      Nombre Ente Principal  ... coste_efectivo_PC
10672             Bardallur  ...                29
11768        Alba de Yeltes  ...                 6
13026               Estaràs  ...                 1
13448               Abadía.  ...                43

[4 rows x 4 columns]

In [87]:
df_zoom_pob = geopandas.read_file('../data/main_raw/shapefiles_espana_municipios.geojson')

df_muni_co_zoom=df_final_pob[['CCAA','Provincia','Nombre Ente Principal','codigo_geo','Población 2018']]
df_muni_co_zoom[df_muni_co_zoom.select_dtypes(['category']).columns] = \
            df_muni_co_zoom.select_dtypes(['category']).apply(lambda x: x.astype('object'))

df_muni_co_zoom['codigo_geo'] = df_muni_co_zoom['codigo_geo'].astype('int64')
df_zoom_pob['codigo_geo']= df_zoom_pob['f_codmun']
df_zoom_pob = pd.merge(df_zoom_pob , df_muni_co_zoom, on='codigo_geo', how='left')

/home/carpiero/miniconda3/envs/ml_env/lib/python3.7/site-packages/pandas/core/frame.py:2963: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/home/carpiero/miniconda3/envs/ml_env/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [97]:
df = df_final_pob_melt_PC#[df_final_pob_melt_PC['Población 2018']>5000]
df['Población'] = df['Población 2018']

df= df.loc[(df['Descripción']==partida_de_coste_types)& (df['coste_efectivo_PC'] > 0)]
df['coste_efectivo_PC'] = df.apply(lambda new: round(new['coste_efectivo_PC'] , ) , axis=1)

df

/home/carpiero/miniconda3/envs/ml_env/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

                       CCAA            Provincia  ... Población 2018 Población
9738              Andalucía              Almería  ...         1235.0    1235.0
9739              Andalucía              Almería  ...         1150.0    1150.0
9740              Andalucía              Almería  ...        24859.0   24859.0
9741              Andalucía              Almería  ...          753.0     753.0
9742              Andalucía              Almería  ...          621.0     621.0
9743              Andalucía              Almería  ...        11696.0   11696.0
9744              Andalucía              Almería  ...          814.0     814.0
9745              Andalucía              Almería  ...          528.0     528.0
9746              Andalucía              Almería  ...          135.0     135.0
...                     ...                  ...  ...            ...       ...
14590  Comunitat Valenciana  Valencia / València  ...         6623.0    6623.0
14591  Comunitat Valenciana  Valencia / València  ...        11540.0   11540.0
14593  Comunitat Valenciana  Valencia / València  ...         3036.0    3036.0
14595  Comunitat Valenciana  Valencia / València  ...         1242.0    1242.0
14596  Comunitat Valenciana  Valencia / València  ...         4303.0    4303.0
14597  Comunitat Valenciana  Valencia / València  ...         9550.0    9550.0
14598  Comunitat Valenciana  Valencia / València  ...         7095.0    7095.0
14601  Comunitat Valenciana  Valencia / València  ...         3380.0    3380.0
14602  Comunitat Valenciana  Valencia / València  ...         2073.0    2073.0

[2131 rows x 11 columns]

In [3]:
df_final_pob_melt_PC.columns

Index(['CCAA', 'Provincia', 'Tipo Ente Principal', 'Nombre Ente Principal',
       'Código Ente Principal', 'cohorte_pob', 'codigo_geo', 'Descripción',
       'coste_efectivo_PC', 'Población 2018'],
      dtype='object')

In [7]:
%%timeit

df = df_final_pob_melt_PC
df['coste_efectivo_PC'] = df.apply(lambda new: round(new['coste_efectivo_PC'] , ) , axis=1)

12.1 s ± 421 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [8]:
%%timeit

df = df_final_pob_melt_PC
df['coste_efectivo_PC'] = round(df['coste_efectivo_PC'],)

369 µs ± 5.34 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [9]:
df

                        CCAA  ... Población 2018
0                  Andalucía  ...         1235.0
1                  Andalucía  ...         1150.0
2                  Andalucía  ...        24859.0
3                  Andalucía  ...          753.0
4                  Andalucía  ...          621.0
6                  Andalucía  ...          814.0
7                  Andalucía  ...          528.0
8                  Andalucía  ...          135.0
9                  Andalucía  ...          648.0
...                      ...  ...            ...
209355  Comunitat Valenciana  ...         1242.0
209357  Comunitat Valenciana  ...         9550.0
209358  Comunitat Valenciana  ...         7095.0
209360  Comunitat Valenciana  ...          586.0
209361  Comunitat Valenciana  ...         3380.0
209362  Comunitat Valenciana  ...         2073.0
209363  Comunitat Valenciana  ...          365.0
209365  Comunitat Valenciana  ...         8846.0
209366  Comunitat Valenciana  ...          974.0

[79997 rows x 10 columns]